<main>
	<div class="container">
		<div class="taskRow">
				<span class="material-icons checkTask">check_box_outline_blank</span>
				<p>Chorar</p>
				<span class="material-icons deleteTask">delete</span>
		</div>
		<div class="taskRow">
				<span class="material-icons checkTask">check_box_outline_blank</span>
				<p>Chorar no Banho</p>
				<span class="material-icons deleteTask">delete</span>
		</div>
		<div class="taskRow">
				<span class="material-icons checkTask">check_box_outline_blank</span>
				<p>Chorar no Banho de novo</p>
				<span class="material-icons deleteTask">delete</span>
		</div>
		<hr>
		<div class="taskRow taskCompleted">
				<span class="material-icons checkTask">check_box</span>
				<p>Chorar no Banho de novo</p>
				<span class="material-icons deleteTask">delete</span>
		</div>
	</div>
	<app-todo-input-add-itens></app-todo-input-add-itens>

</main>
